body {
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding:0px;
    margin:0px;
    
}

/* Colors */ /* adding quote between intro and footer */
header, .intro, .quote, footer, .planos, #pricing {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, 
                url(images/Facetune_25-08-2020-12-38-32.JPG) no-repeat center center fixed;
    background-size: 100%;
    background-position: 20% 0%; /* don't know why having positional issue, using this to correct it */
    color: #f9faf8;
    text-shadow:0px 0px 5px black,
                0px 0px 20px black,
                0px 0px 40px white; 
}


header, .intro{
    display: flex;
    align-self:stretch;
    align-items: center;
    justify-content:space-around;
}



.main h1 {
    font-size: 48px;
    font-weight: bolder;
    align-self: flex-start;
    margin-bottom: -16px;
}

.logo img {
    width: 30%;
    height: auto;
}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 30px;
}
a:hover {
    color: #8dbe25;
    text-decoration: underline;

}




button {
    background-color: #8dbe25;
    flex:0 1 auto;
    width:100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color:#f9faf8;
    font-weight: bold;
    margin-bottom: 10px;
}

header ul {
    display:flex;
    gap:16px;
}



.intro{
    height:100vh;
    gap:32px;
}

.intro-elem {
    margin-left:15%;
    display:flex;
    flex-flow: column wrap;
    flex:1;
    color:#8dbe25;
}

.intro-text, li {
    color:#e5e7eb;
    font-size: 18px;
    font-weight: bold;
}

.intro-text img {
    height:50%;
    width: :auto;
}

.image {
    flex:1;
    display:flex;
    align-self: stretch;
    justify-content: center;
    align-items:center;
    color:#1F2937;
    margin-top: 40px;
    margin-right: 15%;
    min-width:300px;
    max-height:100%;
    overflow: hidden;

}

.intro-elem img {
    width:50%;
    height: auto;
}

.main {

    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content:space-between;
    background-color: #1F2937;
    color: #f9faf8;
    flex-flow: column wrap;
}



.content {
    flex-wrap: wrap;
    padding: 0px; rgba(0, 0, 0, 0));
    width: 100%;
}

.content h2{
    font-size: 56px;
    font-weight: bolder;
    text-align: center;
    color:#8dbe25;
    text-shadow:0px 0px 5px black,
                0px 0px 20px black,
                0px 0px 40px white; 
}

.cards {
    display:flex;
    justify-content:center;
    gap: 50px;
    flex-wrap: wrap;
}



.card {
    color: #1f293700;
    transition:ease-in .7s;
}

.card p {
    text-align: center;
}

.card:hover {
    color: #f9faf8;
}
.content-img {
    width:300px;
    height:300px;
    border: 3px solid #8dbe25; 
    background-image: linear-gradient(180deg, #8dbe25, rgba(0, 0, 0, 0));
    border-radius: 20px;
    transition: ease 0.1s;
}

.content-img img {
    width:300px;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 20px;
}

.content-img:hover {
    transform:scale(1.05);
}

.plan-container {
    border-style: solid;
    border-color: white;
    display: flex;
}

#pricing {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  
  .product {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
    text-align: left;
    margin: 20px 80px 20px 80px;
    border: 2px ridge #000;
    border-radius: 3px;
    gap: 10px;
  }
  
  .product .level {
    text-align: center;
    text-shadow: 0px 0px 5px black,
                 0px 0px 20px black,
                 0px 0px 40px white; 
    background-color: #1F2937;
    color: #8dbe25;
    padding: 15px 0;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
  }

  .product h2 {
    text-align: center;
  }

  .product ol {
      margin: 0 10px 0 0px;
  }


  #consultoria-sobre {
    display: flex;
    flex-direction: column;
    padding: 50px 0 50px 0;
    gap: 30px;
  }

  .information-photo {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0 120px 0 120px;
  }

  .info h2{
    text-align: left;
    text-shadow: 0px 0px 5px black,
                 0px 0px 20px black,
                 0px 0px 40px white; 
    background-color: #1F2937;
    color: #8dbe25;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    margin-top: 0;
  }

  

  .photo img {
      width: 200px;
      height: auto;
      border:#8dbe25;
      border-style: solid;
  }


  



.quote {
    padding:80px 35%;
    /* taking this background to include in main/footer 
    background: url(images/pexels-aleksandar-pasaric-6560708.jpg) no-repeat center center fixed;
    background-size: cover;
    */
    font-size: 36px;
    font-weight:lighter;
    font-style: italic;
    color:#1F2937;
    text-shadow: 0 0 5px #f9faf8,
    0 0 15px #f9faf8,
    0 0 30px #f9faf8;
}

.quote p{
    mix-blend-mode:luminosity;
}

.author {
    display: flex;
    flex-direction: row-reverse;
    font-size: 24px;
    font-weight: bold;
}

.sign-up-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:32px;
    padding:36px;
    background-color: #f7601b;
    border-radius: 5px;
    margin:100px auto;
    color: #f9faf8;
    flex-flow: row wrap;
}

.sign-up-section button {
    border: 2px solid #f9faf8;
}

button:hover {
    background-color: #f9faf8;
    color: #8dbe25;
}

.sign-up-section p {
    margin:0px;
}

.small {
    font-size: 12px;
}

footer {
    display: block;
    width: 100%;
    text-align: center;
    padding: 24px 0px;
    align-self: stretch;
}

/*

@media only screen and (max-width: 783px){
    .intro-elem {
        margin-right: 15%;
        align-items: center;
    }
    .image {
        margin-left: 15%;
        height: 200px;
    }
    
    .card {
        color: #f9faf8;
    }
}


@media only screen and (max-width: 561px){

    .quote {
        padding: 32px 25%;
    }
}

@media only screen and (max-width: 346px){
header ul {
    margin-right: 10%;
}  
}


  
@media (max-width: 800px) {
    #pricing {
      flex-direction: column;
    }
    .product {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
*/


@media (max-width: 550px) {
    header a {
        font-size: 12px;
    }

    .main h1 {
        font-size: 22px;
    }

    .main li {
        font-size: 8px;
    }

    .intro-text {
        font-size: 8px;
    }

    .content h2 {
        font-size: 18px;
    }

    .card {
        font-size: 8px;
    }

    .product .level {
        font-size: 15px;
        padding: 0px 0;
    }

    .product h2 {
        font-size: 15px;
      }

    .info h2{
        font-size: 15px;
      }

    .info {
        font-size: 8px;
    }

    

    .logo img {
        width: 20%;
        height: auto;
    }
    
    
    .logo img {
        width: 20%;
        height: auto;
    }

    .intro-elem img {
        width: 60%;
        height: auto;
    }

    .content-img {
        width:100px;
        height:100px;
        border: 3px solid #8dbe25; 
        background-image: linear-gradient(180deg, #8dbe25, rgba(0, 0, 0, 0));
        border-radius: 20px;
        transition: ease 0.1s;
    }
    
    .content-img img {
        width:100px;
        height: auto;
        display: block;
        margin: auto;
        border-radius: 20px;
    }

    .photo img {
        width: 100px;
        height: auto;
        border:#8dbe25;
        border-style: solid;
    }


    .intro{
        height:auto;
    }

    

    header, .intro{
        display: flex;
        align-items: center;
        align-self: auto;
        justify-content:left;
        margin: 0px 0px 0px 0px;
        padding: 0px 10px 0px 10px;
    }




    header ul {
        display:flex;
        justify-content: space-around;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    header li {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    ul {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    li {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .cards {
        gap: 20px;
    }

    #pricing {
        padding: 20px 0px 20px 0px;
    }

    .product {
        margin: 0px 0px 0px 0px;
    }

    .information-photo {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 0 0px 0 0px;
      }

      #consultoria-sobre {
        display: flex;
        flex-direction: column;
        padding: 30px 10px 30px 10px;
        gap: 10px;
      }

      


      button {
        background-color: #8dbe25;
        flex:0 1 auto;
        width:50px;
        height: 15px;
        border-radius: 5px;
        border: none;
        color:#f9faf8;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 5px;
    }
}

/*
@media (max-width: 550px) {
    h1 {
        font-weight: bold;
        color: #fff;
        font-size: 10px;
    }
}

*/
    /* header a {
        font-size: 18px;
    } 
    
    .main h1 {
        font-size: 24px;
    }
    
    */
    





    

/*
  
    #container {
      font-size: 20px;
    }
  
    #options {
      gap: 10px;
    }
  
    #rock,
    #paper,
    #scissors {
      width: 100px;
      height: 100px;
      font-size: 70px;
    }
  }

  */
  